@use '../variables';
@use '../mixin' as mix;

.todo-card {
  border: 1px solid variables.$gray-2-color;
  border-radius: 14px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
  &.low {
    border-top: 4px solid #0225ff;
  }

  &.moderate {
    border-top: 4px solid #3abeff;
  }

  &.extreme {
    border-top: 4px solid #f21e1e;
  }

  .todo-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    .todo-text {
      width: 70%;
      h3 {
        margin-top: 0px;
      }
      p {
        color: variables.$gray-3-color;
      }
    }
    .todo-img {
      width: 30%;
      img {
        object-fit: cover;
        height: 100px;
        width: 100%;
      }
    }
  }
  .todo-information {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    p {
      span {
        &.status {
          @include mix.status-colors;
        }
        &.priority {
          @include mix.priority-colors;
        }
      }
      &.todo-date {
        color: variables.$gray-2-color;
      }
    }
  }
  &.completed {
    border-top: 4px solid #05a301;

    p {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0rem;
      }
    }
    .todo-content {
      margin-bottom: 0px;
      .todo-information {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
