@use '../variables';
@use '../mixin' as mix;

.todo-card {
  border: 1px solid variables.$gray-2-color;
  border-radius: 14px;
  padding: 0.8rem 2rem;
  margin-bottom: 1rem;
  .todo-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    .todo-text {
      width: 70%;
      h3 {
        margin-top: 0px;
      }
      p {
        color: variables.$gray-3-color;
      }
    }
    .todo-img {
      width: 30%;
      img {
        object-fit: cover;
        height: 100px;
        width: 100%;
      }
    }
  }
  .todo-information {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    p {
      span {
        &.status {
          @include mix.status-colors;
        }
      }
      &.todo-date {
        color: variables.$gray-2-color;
      }
    }
  }
  &.completed {
    p {
      margin-bottom: 1rem;
    }
    .todo-information {
      display: flex;
      flex-direction: column;
    }
  }
}
