body {
  font-family: $font-stack;
  color: $primary-color;
  background-color: $background-color;
  line-height: $line-height-base;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}