@use 'variables';

body {
  font-family: variables.$font-stack;
  color: variables.$primary-color;
  background-color: variables.$background-color;
  line-height: variables.$line-height-base;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

p {
  margin: 0px;
}
