.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  header {
    flex-shrink: 0;
  }
  .layout-container {
    flex: 1;
    display: grid;
    grid-template-columns: 350px auto;
    gap: 4.5rem;
    overflow-y: auto;
    & > *:first-child {
      height: 100vh;
    }
    & > *:nth-child(2) {
      height: 100vh;
    }
  }
}
