@use 'variables';

@mixin status-colors {
  @each $status, $color in variables.$status-colors {
    &.-#{$status} {
      --status-color: #{$color};
      color: var(--status-color);
    }
  }
}

@mixin priority-colors {
  @each $priority, $color in variables.$priority-colors {
    &.-#{$priority} {
      --priority-color: #{$color};
      color: var(--priority-color);
    }
  }
}
