@use 'variables';

.sidebar {
  background-color: variables.$pink-color;
  padding: 1rem;
  min-height: 100vh;
  color: variables.$white-color;
  position: relative;
  margin-top: 4rem;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  .user-photo {
    width: 100px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid variables.$white-color;
  }
  .user-info {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 3.5rem;
    p {
      margin: 0;
      &.user-name {
        font-weight: 700;
        margin: 0.4rem 0;
      }
      &.user-email {
        font-size: 0.75rem;
      }
    }
  }
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .sidebar-item {
    padding: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    .sidebar-icon {
      img {
        margin-right: 1rem;
      }
    }
    .sidebar-label {
      color: variables.$white-color;
    }
    &.active {
      background-color: variables.$white-color;
      border-radius: 10px;
      .sidebar-icon {
        img {
          margin-right: 1rem;
          filter: invert(63%) sepia(49%) saturate(1907%) hue-rotate(316deg)
            brightness(98%) contrast(105%);
        }
      }
      .sidebar-label {
        color: variables.$pink-color;
      }
    }
  }
}
