$font-stack: "Infer", sans-serif; 
$primary-color: #000000;
$pink-color: #FF6767;
$white-color: #FFFFFF;
$gray-color: #F8F8F8;
$blue-color: #3ABEFF;
$background-color: #F5F8FF;
$line-height-base: 1.2;